body.claro {
    background-color: #f0f0f0;
    color: #222;
}


body.escuro {
    background-color: #222;
    color: #f0f0f0;
}


.container {
    margin: 50px auto;
    width: 400px;
    text-align: center;
    font-family: sans-serif;
}
a {
    padding: 8px 12px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
}
